
/* html-spotify */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/***********************************

MAIN CONTAINERS

***********************************/

.app_cnt {
  width: 100vw;
  height: 100vh;
  background: #282828;
  margin: 0;
}

.player {
  display: flex;
  overflow: hidden;
}

.side_bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 100px);
  width: 200px;
  padding: 25px;
  background-color: black;
  color: white;
}

.content_area {
  margin: 0;
  height:calc(100vh - 100px);
  width: calc(100vw - 200px);
  overflow-y: auto;
  background: black;
  color: black;
  background-image: linear-gradient(to bottom right, red , blue);
}

.player_controls {
  margin: 0;
  height: 100px;
  width:100%;
}

/***********************************

SIDEBAR

***********************************/

.side_bar > img.logoImgLg {
  width: 150px;
  margin-bottom: 25px;
  cursor: pointer;
}

.side_bar > img.logoImgSm {
  display: none;
  width: 60px;
  margin-bottom: 25px;
  cursor: pointer;
}

.sidebar_options {
  min-height: 200px;
  max-height: 500px;
  overflow: hidden;
  margin-bottom: 25px;
  width: 100%;
}

.sidebar_options * {
  color: white;
}

.side_bar .sidebar_options .main_functionalities li {
  font-size: 20px;
}

.side_bar .sidebar_options li {
  margin-bottom: 20px;
}

.side_bar .sidebar_options i.fas, .side_bar .sidebar_account i.fas {
  margin-right: 10px;
}

.side_bar .sidebar_options .latest_artists {
  overflow: auto;
}

.side_bar .sidebar_options .latest_artists li {
  margin-left: 15px;
  cursor: pointer;
}

.sidebar_account {
  padding: 20px 0px;
  width:100%;
}

.side_bar .sidebar_account i.fas {
  font-size: 22px;
}

.sidebar_account span {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
}

.sidebar_account span:not(:last-of-type) {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}

.side_bar i:hover, .side_bar .sidebar_options li:hover,
.side_bar .sidebar_options li a span:hover   {
  color: grey;
}

@media all and (max-height: 800px) {

  .side_bar .sidebar_options .latest_artists {
    display: none;
  }

}

@media all and (max-height: 600px), all and (max-width: 991px) {

  .side_bar {
    justify-content: space-between;
    align-items: center;
    width:100px;
    padding: 25px 10px 20px 10px;
    overflow-y: hidden;
  }

  .side_bar > img.logoImgLg {
    display: none;
  }

  .side_bar > img.logoImgSm {
    display: block;
  }

  .content_area {
    width: calc(100% - 100px);
  }

  .sidebar_options {
    margin: 0;
    overflow-y: hidden;
    text-align: center;
  }

  .side_bar .sidebar_options li {
    margin-bottom: 20px;
  }

  .side_bar .sidebar_options li a span {
  display: none;
  }
  .side_bar .sidebar_options i.fas {
    font-size: 35px;
    margin-right: 0;
  }

  .sidebar_account, .sidebar_options .latest_artists{
    display: none;
  }

}

@media all and (max-height: 550px), all and (max-width: 768px) {

  .side_bar {
    display: none;
  }

  .content_area {
    width: 100%;
  }

}

/***********************************

CONTENT AREA

***********************************/

.mobile_nav {
  position: fixed;
  top:0;
  left: 0;
  height: 80px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  z-index: 1;
}

.mobile_nav img.nav_logo {
  height: 40px;
}

.mobile_nav img.hamburger {
  height: 25px;
}

@media all and (min-height: 551px) and (min-width: 769px) {

  .mobile_nav {
    display: none;
  }

}

.content_body {
  overflow-y: hidden;
  margin-top: 80px;
  padding: 0 30px;
}

.content_body > h1 {
  color:white;
  font-weight: bold;
}

.content_body .categories {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 0px;
}

.content_body .categories h3 {
  display: inline-block;
  margin-right: 20px;
  font-size: 13px;
  font-weight: bold;
}

.content_body .categories  h3 a {
  position: relative;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.content_body .categories h3 a span.isActive {
  display: none;
  position: absolute;
  bottom: -5px;
  left: 10%;
  height: 1px;
  width: 80%;
  background: white;
}

.content_body .categories h3 a:hover span {
  display: block;
}

.content_body .suggestedMixes h2 {
  margin-bottom: 30px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  color: white;
  border-bottom: 1px solid grey;
}

.suggestedMixes .mixes_container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/* mix-item single card */

.mix_item {
  display: flex;
  flex-direction: column;
  max-width: 230px;
}

.mix_header {
  position: relative;
}

.mix_header a:hover:after{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 50px;
  cursor:pointer;
  color: white;
  content: "\f144";
}

.mix_item img {
  max-width: 100%;
}

.mix_header img:hover {
  transition: 0.3s linear;
  opacity: 0.5;
}

.mix_item:not(:last-child)  {
  margin-right: 30px
}

.mix_item, .mix_item a {
  color: white;
}

.mix_item .mix_body .mix_title {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.mix_item .mix_body .mix_artists {
  font-size: 12px;
  color: grey;
}

@media  all and (max-width: 1099px) {

  .suggestedMixes .mixes_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }


  .mix_item:not(:last-child)  {
    margin-right: 0
  }

  .mix_item {
    margin-bottom: 20px;
  }

}

/***********************************

PLAYER CONTROLS

***********************************/

.player_controls {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.player_controls .control {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player_controls i:not(.fa-play) {
  font-size: 20px;
}

.player_controls i:hover {
  color: grey
}

.player_controls .control.now_playing *:not(:last-child),
.player_controls .control.volume_and_speakers a:not(:last-child), .player_controls .control.player-commands .buttons a:not(:last-child) {
  margin-right: 20px;
}

.player_controls .control.player-commands {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.player_controls .control.player-commands .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player_controls img {
  height: 60px;
}

.player_controls i {
  display: inline-block;
  color: white;
}

.playCircle {
  position:relative;
  border: 1px solid white;
  width:40px;
  height: 40px;
  border-radius: 100%;
  display: inline-block;
}

.player_controls i.fa-play{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.player_controls .control.player-commands .progress_bar {
  margin-top: 10px;
}

.player_controls .control .progress_bar .bar {
  position:relative;
  display: inline-block;
  height: 5px;
  margin-right: 15px;
  background: white;
  border-radius: 5px;
  background: green;
}

.player_controls .control.player-commands .progress_bar .bar {
  margin-left: 15px;
  width: 220px;
}

.player_controls .control.volume_and_speakers .progress_bar .bar {
  width: 80px;
}

.player_controls .control .progress_bar .bar:before{
  width:50px;
  height:35px;
  background: red;
}

.player_controls .control .progress_bar .bar .dot {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 15px;
height: 15px;
border-radius: 100%;
overflow: hidden;
background: white;
}

@media all and (max-width: 991px) {

 .player_controls .volume_and_speakers {
    display: none;
  }

  .player_controls {
    flex-direction: row-reverse;
    justify-content: space-around;
  }

}

@media all and (max-width: 767px) {

  .player_controls {
    justify-content: center;
  }

  .player_controls .now_playing {
      display: none;
  }

}
