
/* html-spotify */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


/***********************************

MAIN CONTAINERS

***********************************/

.app_cnt {
  width: 100vw;
  height: 100vh;
  background: cyan;
  margin: 0;
}

.player {
  display: flex;
}


/***********************************

SIDEBAR

***********************************/


.side_bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 100px);
  width: 200px;
  padding: 25px;
  background-color: black;
  color: white;
}

.side_bar > img.logoImgLg {
  width: 150px;
  margin-bottom: 25px;
}

.side_bar > img.logoImgSm {
  display: none;
  width: 60px;
  margin-bottom: 25px;
}

.sidebar_options {
  overflow-y: auto;
  margin-bottom: 25px;
  width: 100%;
}

.sidebar_account {
  text-align: center;
  height: 100px;
  width:100%;
}
.sidebar_account i{
  display: block
}

.content_area {
  margin: 0;
  height:calc(100vh - 100px);
  width: calc(100vw - 200px);
  background: red;
  color: black;
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20id%3D%22Layer_1%22%20style%3D%22e….891-0.579%201.891-1.514%200-0.984-0.71-1.511-1.89-1.511z%22/%3E%3C/svg%3E);
}

.player_controls {
  margin: 0;
  height: 100px;
  width:100%;
}

@media all and (max-height: 599px), all and (max-width: 991px) {

  .side_bar {
    width:100px;
    padding: 25px 10px 20px 10px;
    overflow: hidden
  }

  .side_bar > img.logoImgLg {
    display: none;
  }

  .side_bar > img.logoImgSm {
    display: block;
  }

  .content_area {
    width: calc(100% - 100px);
  }

  .sidebar_options {
    margin: 0;
  }

  .sidebar_account {
    display: none;
  }

}

@media all and (max-height: 450px), all and (max-width: 768px) {

  .side_bar {
    display: none;
  }

  .content_area {
    width: 100%;
  }

}

/***********************************

CONTENT AREA

***********************************/

.mobile_nav {
  height: 80px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  /* display:none; */
}

.mobile_nav img.nav_logo {
  height: 40px;
}

.mobile_nav img.hamburger {
  height: 25px;
}

@media all and (min-height: 451px) and (min-width: 769px) {

  .mobile_nav {
    display: none;
  }

}

.content_body {
  overflow-y: hidden;
  background: white;
}



/***********************************

PLAYER CONTROLS

***********************************/

.player_controls {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player_controls img {
  height: 60px;
}

@media all and (max-width: 991px) {

 .player_controls .volume_and_speakers {
    display: none;
  }

}

@media all and (max-width: 767px) {

  .player_controls {
    justify-content: center;
  }

  .player_controls .now_playing {
      display: none;
  }

}
