
/* html-spotify */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


/***********************************

MAIN CONTAINERS

***********************************/

.app_cnt {
  width: 100vw;
  height: 100vh;
  background: cyan;
  margin: 0;
}

.player {
  display: flex;
  overflow: hidden;
}


/***********************************

SIDEBAR

***********************************/


.side_bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 100px);
  width: 200px;
  padding: 25px;
  background-color: black;
  color: white;
}

.side_bar > img.logoImgLg {
  width: 150px;
  margin-bottom: 25px;
}

.side_bar > img.logoImgSm {
  display: none;
  width: 60px;
  margin-bottom: 25px;
}

.sidebar_options {
  min-height: 200px;
  max-height: 500px;
  overflow-y: auto;
  margin-bottom: 25px;
  width: 100%;
  background: blue;
}

.sidebar_account {
  background: yellow;
  text-align: center;
  height: 100px;
  width:100%;
}
.sidebar_account i{
  display: block
}

.content_area {
  margin: 0;
  height:calc(100vh - 100px);
  width: calc(100vw - 200px);
  overflow-y: auto;
  background: black;
  color: black;
  background-image: linear-gradient(to bottom right, red , blue);
}

.player_controls {
  margin: 0;
  height: 100px;
  width:100%;
}

@media all and (max-height: 599px), all and (max-width: 991px) {

  .side_bar {
    justify-content: flex-start;
    width:100px;
    padding: 25px 10px 20px 10px;
    overflow-y: hidden;
  }

  .side_bar > img.logoImgLg {
    display: none;
  }

  .side_bar > img.logoImgSm {
    display: block;
  }

  .content_area {
    width: calc(100% - 100px);
  }

  .sidebar_options {
    margin: 0;
    overflow-y: auto;
  }

  .sidebar_account {
    display: none;
  }

}

@media all and (max-height: 450px), all and (max-width: 768px) {

  .side_bar {
    display: none;
  }

  .content_area {
    width: 100%;
  }

}

/***********************************

CONTENT AREA

***********************************/


.mobile_nav {
  position: fixed;
  top:0;
  left: 0;
  height: 80px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  /* display:none; */
}

.mobile_nav img.nav_logo {
  height: 40px;
}

.mobile_nav img.hamburger {
  height: 25px;
}

@media all and (min-height: 451px) and (min-width: 769px) {

  .mobile_nav {
    display: none;
  }

}

.content_body {

  overflow-y: hidden;
  margin-top: 80px;
  padding: 0 30px;
  /* background: white; */
}

.content_body > h1 {
  color:white;
  font-weight: bold;
}

.content_body .categories {
  display: inline-block;
  overflow-x: auto;
  text-transform: uppercase;
  /* border-bottom: 1px solid grey; */
}

.content_body .categories h3 {
  display: inline-block;
  margin-right: 20px;
  font-size: 13px;
  font-weight: bold;
}
.content_body .categories h3 a {
  color: white;
  text-decoration: none;
}

.content_body .suggestedMixes h2 {
  margin-bottom: 30px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  color: white;
  border-bottom: 1px solid grey;
}

.suggestedMixes .mixes_container {
  display: flex;
  /* background: white; */
}

.mix_item:not(:last-child)  {
  margin-right: 30px
}

.mix_item img {
  max-width: 100%;
}


@media  all and (max-width: 1099px) {

  .suggestedMixes .mixes_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background: white; */
  }


  .mix_item:not(:last-child)  {
    margin-right: 0
  }
  .mix_item {
    margin-bottom: 20px;
    background: yellow;
  }

}
/***********************************

PLAYER CONTROLS

***********************************/

.player_controls {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.player_controls .control {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player_controls img {
  height: 60px;
}

.player_controls i {
  display: inline-block;
  color: white;
}

.playCircle {
  position:relative;
  border: 1px solid white;
  width:40px;
  height: 40px;
  border-radius: 100%;
  display: inline-block;
}
.player_controls i.fa-play{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media all and (max-width: 991px) {

 .player_controls .volume_and_speakers {
    display: none;
  }

}

@media all and (max-width: 767px) {

  .player_controls {
    justify-content: center;
  }

  .player_controls .now_playing {
      display: none;
  }

}
